.square,
.circle {
  pointer-events: none;
  position: relative;
  width: 28px;
  height: 28px;
  margin: 1px;
  background-color: currentColor;
  font-size: 14px;
}
.kerneldemo{
  width : 900px;
  height: 512px;
  z-index:-1;
  border-radius: 10%;
  /* background-color:#252525; */
/* font-size: 20px; */
}
.userspace{
  top:50px;
  position: relative;
  left:300px;
  z-index:-1;
  width: 250px;
  height: 140px;
  border-radius: 10%;

  background-color: #E1C086;
  /* font-size: 20px; */
}
.kernelspace{
  position: relative;
   left:300px;
  top:0px;
  width: 250px;
  height:250px;
  border-radius: 10%;

  background-color:#ACCDA3;
  /* text-align:right; */
  z-index: -1;
}
.application1{
  position: relative;
  border-radius: 10%;

  /* display:inline-block; */
  height: 40px;
  width: 20%;
  top: -10px;
  /* border-radius: 50%; */
  background-color:#C65a61;
  display:inline-block;
  /* text: A; */
  font-size: 20px;
  text-align: center;
  /* padding: */
  /* z-index: 1; */
}
.labels{
  font-size: 20px;
  /* text-align:right; */
}
.kk{
  height: 150px;
}
.NIC{
  position:relative;
  font-size:20px;
  padding-top:20px;
  background-color:#CFBFCA;
  left:380px;
  width:10%;
  height:10%;
  border-radius: 10%;
}
 .packet{
  position: relative;
  bottom: 10%;
  left:20%;
  width: 10%;
  height: 8%;
  background-color: white;
  /* opacity: 0.1; */
  /* color:white; */
  z-index : 10;

}
.payload{
  position: relative;
  background-color: #62659f;
  width: 60%;
  height: 100%;
  /* opacity: 0.1; */
  /* color:white; */
  z-index : 10;

}
.header1{
  position:relative;
  top:-100%;
  height: 100%;
  left:60%;
  width:40%;
  background-color:#50101A;
  z-index : 10;

} 

 
img{
  left: 100px;
 width: 50px;
 height:50 px;
 border:none;

object-fit: cover;
}

#trad{
  display:none;
  position:relative;
  top:-15%;
  left:33%;
  z-index : 100;
font-size: 20px;
color:red;
}
#sph{
  display:none;
  position:relative;
  top:-82%;
  left:-30%;
  z-index : 100;
font-size: 20px;
color:red;
}

#napi{
  display:none;
  position:relative;
  top:-38%;
  left:33%;
  z-index : 100;
  font-size: 20px;
  color:red;
}
#dpdk{
  display:none;
  position:relative;
  top:-460px;
  left:33%;
  z-index : 100;
font-size: 20px;
color:red;
}
#twofivex{

  display:none;
  position:relative;
  top:-70%;
  transform:rotate(-90deg);
  left:33%;
  z-index : 100;
font-size: 24px;
color:red;
}
.table1   {
position:relative;
/* padding-top: 30%; */
table-layout:auto;
font-size:20px;
text-align:right;
top:100px;
left:-20%;
height:60%;
  width:15%;
  border: 1px solid #657b83;
}
/* tr td{
  position:relative;
  width:100%;
  text-align: right;
} */
.table2  {
  position:relative;
  /* padding-top: 30%; */
  table-layout: auto;
  font-size: 20px;
  top:-40%;
  left:20%;
  height:60%;
    width:15%;
    border: 1px solid #657b83;
  }
  .arrow{
      position:relative;
      width: 2px;
    background-color: black;
    /* top:200px; */
       }
  #Carr{
    left:450px;
    height:320px;
    top: -1300px;
    z-index:100;
    display:none;
    transform:rotate(-58deg); 
    /* display: none; */
  
    background-color:green;
  }
  #Aarr{
    display: none;

    left:450px;
    height:300px;
    top:-740px;
    z-index:100;
    transform:rotate(-90deg); 
    background-color:blue;
  }
  #Barr{
    display: none;

    left:450px;
    height:300px;
    top: -900px;
    transform:rotate(70deg);
    background-color:orange; 
}
  #Darr{
    display: none;

    left:450px;
    height:340px;
    top: -1660px;
    transform:rotate(43deg); 
    background-color: violet;
  }
  #playcuckoo{

    position:relative;
    background-color: lightgray;
    width:15%;
    height:15%;
    top:-50px;
    left:-10px;
    font-size: 24px;
    color: grey;
    /* z-index:1000; */
  }
  h1 {
    width:580px; 
    font-family:verdana,arial,helvetica,sans-serif;
    font-size:18px;
    text-align:center;
    margin:40px auto;
 }
#container {
    width:580px; 
    font-family:verdana,arial,helvetica,sans-serif;
    font-size:11px;
    text-align:center;
    margin:auto;
 }  
#container a {
    display:block;
    color:#000;
    font-size: 20px;
    text-decoration:none;
    background-color:#f6f6ff;
 }
#container a:hover {
    color:#900;
    background-color:#f6f6ff;
 }
#no1 {
    width:190px;
    line-height:80px;
    border:1px solid #000;
    margin:auto;
 }
#no1 a {
    height:80px;
 }
#line1 {
    font-size:0;
    width:1px;
    height:20px;
    color:#fff;
    background-color:#000;
    margin:auto;
 } 
#line2 {
    font-size:0;
    width:420px;
    height:1px;
    color:#fff;
    background-color:#000;    
    margin:auto;
 } 
#line3 {
    font-size:0;
    display:inline;
    width:1px;
    height:20px;
    color:#fff;
    background-color:#000;
    margin-left:78px;
    float:left;
 }  
#line6 {
  position:relative;
  left:280px;
  font-size:0;
    display:block;
    width:1px;
    height:20px;
    color:#fff;
    background-color:#000;
    margin-left:140px;
    float:left;
 }
#no2 {
    display:block;
    border:1px solid #000;
    clear:both;
    margin-left:35px;
    float:left;
 }
#no2 a  {
    width:84px; 
    height:50px;
    padding-top:12px; 
 }  
#no3 {
  position:relative;
    display:block;
    border:1px solid #000;
    left: 260px;
    margin-left:58px;
    float:left;
 }
#no3 a,#no5 a,#no6 a,#no7 a,#no9 a {
    width:84px; 
    height:50px;
    padding-top:12px;  
 } 
#no4 {
    display:inline;  
    border:1px solid #000;
    margin-left:53px;
    float:left;
 }  
#no5 {
    display:inline;   
    border:1px solid #000;
    margin-left:55px;
    float:left;
 }  
#line7,#line13 {
    font-size:0;
    display:inline;
    width:1px;
    height:38px;
    color:#fff;
    background-color:#000;
    margin-left:219px;
    float:left;
 } 
#line8,#line14 {
    font-size:0;
    display:inline;
    width:1px;
    height:38px;
    color:#fff;
    background-color:#000;
    margin-left:281px;
    float:left;
 }  
#no6,#no8 {
    display:inline;  
    border:1px solid #000;
    margin-left:107px;
    float:left;
 }
#line9,#line11,#line15,#line17 {
    font-size:0;
    display:inline;
    width:26px;
    height:1px;
    color:#fff;
    background-color:#000;    
    margin-top:29px;
    float:left;
 }  
#line10,#line12,#line16,#line18 {
    font-size:0;
    display:inline;
    width:1px;
    height:60px;
    color:#fff;
    background-color:#000;
    float:left;
 } 
#line16,#line18 {
    height:30px;
 }
#no7,#no9 {
    display:inline; 
    border:1px solid #000;
    margin-left:169px;
    float:left;
 } 
.clear {
    clear:both;
 }                  
 #memline1 {
 position:relative;
  left:-320px;
  top:60px;
  font-size:0;
    display:block;
    width:1px;
    height:20px;
    color:#fff;
    background-color:#000;
    margin-left:140px;
    float:left;
 }
 #memline2{
  position:relative;
   left:-420px;
   top:60px;
   font-size:0;
     display:block;
     width:100px;
     height:1px;
     color:#fff;
     background-color:#000;
     margin-left:140px;
     float:left;
  }
  #memline3 {
    position:relative;
     left:-320px;
     top:59px;
     font-size:0;
       display:block;
       width:100px;
       height:1px;
       color:#fff;
       background-color:#000;
       margin-left:140px;
       float:left;
       /* z-index:1000; */
    }
    #memline4 {
      position:relative;
       left:-420px;
       top:58px;
       font-size:0;
         display:block;
         width:1px;
         height:20px;
         color:#fff;
         background-color:#000;
         margin-left:140px;
         float:left;
         /* z-index:1000; */
      }
      #memline5 {
        position:relative;
         left:-362px;
         top:58px;
         font-size:0;
           display:block;
           width:1px;
           height:20px;
           color:#fff;
           background-color:#000;
           margin-left:140px;
           float:left;
           /* z-index:1000; */
        }
        #mbuf {
          position:relative;
          display:block;
          border:1px solid #000;
          clear:both;
          left:-60px;
          top:38px;
          /* margin-left:35px; */
          float:left;
       }
      #mbuf a  {
          width:84px; 
          height:50px;
          padding-top:12px; 
       }  
       #ring {
        position:relative;
        display:block;
        border:1px solid #000;
        clear:both;
        left:140px;
        top:-30px;
        /* margin-left:35px; */
        float:left;
      }
      #ring a{
          width:84px; 
          height:50px;
          padding-top:12px; 
      }  